{% extends "front.html" %}
{% block content %}
{% load static %}
<div class="container">
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
      <h1 class="h2">Cart </h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'cart:clear' %}" class="btn btn-sm btn-outline-secondary">Clear</a>
      </div>
    </div>
    {% include 'commons/messages.html' %}
    <div class="row">
      <div class="col-9">
        {% if products %}
        <div class="table-responsive">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in products %}
              <tr>
                <td>{{obj.product}}</td>
                <td>{{obj.quantity}}</td>
                <td>{{obj.product_total}}</td>
                <td>
                  <div class="btn-group mr-2">
                    <a href="{% url 'product:detail' obj.product.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if object.has_previous %}
            <a href="{{ request.build_absolute_uri}}?page={{ object.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ object.number }} of {{ object.paginator.num_pages }}.
            </span>
            {% if object.has_next %}
            <a href="{{ request.build_absolute_uri}}?page={{ object.next_page_number }}">Next</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
        {% else %}
        <div class="py-5">
          <p class='lead text-center'>
            Cart currently empty
          </p>
        </div>
        {% endif %}
      </div>
      <div class="col-3">
        <table class="table cart-table">
          <tbody class='cart-body'></tbody>
          <tr>
            <td colspan="2"></td>
            <td><b>Items</b><span class='cart-subtotal'>{{ cart_obj.subtotal }}</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td><b>Tax</b><span class='cart-subtotal'>{{ cart_obj.subtotal }}</span></td>
          </tr><tr>
            <td colspan="2"></td>
            <td><b>Subtotal</b><span class='cart-subtotal'>{{ cart_obj.subtotal }}</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td><b>Total</b><span class='cart-total'>{{ cart_obj.total }}</span></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td>
              <a href='' class="btn btn-md btn-outline-secondary btn-block">Checkout</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </main>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}