{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}
{% include 'commons/sidebar_clnt.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <script>
          // The data/time we want to countdown to
          // var countDownDate = new Date("Jul 25, 2021 16:37:52").getTime();
          var start = new Date;
          var start2 = new Date;
          var end = new Date;
          var end2 = new Date;
          start.setHours(9, 2, 0); // 9am
          start2.setHours(21, 2, 0); // 9pm
          end.setHours(9, 0, 0); // 9pm
          end2.setHours(21, 0, 0); // 9pm
          // Run myfunc every second
    
          function pad(num) {
            return ("0" + parseInt(num)).substr(-2);
          }

          var myfunc = setInterval(function() {
            var now = new Date().getTime();
            if (now > start && now < end2) { 
              var remain = ((end2 - now) / 1000);
            } else if (now > start2) {
              end.setTime(end.getHours() + 24);
              var remain = ((end - now) / 1000);
            } else {
              var remain = 0
            };
            var hh = pad((remain / 60 / 60) % 60);
            var mm = pad((remain / 60) % 60);
            var ss = pad(remain % 60);

            document.getElementById('time').innerHTML = hh + ":" + mm + ":" + ss + " To Open Investment."
            if (remain <= 0) {
              clearInterval(myfunc);
              document.getElementById("time").innerHTML = "Investment Open"
            }
          }, 1000);
        </script>
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold mb-2" id="time"></h3>
            <!-- // Welcome {{user.get_name}} -->
            <h6 class="font-weight-normal mb-0 mt-2">https://www.goldinvestments.co.tz/register?a={{user.get_name}}</h6>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <a href="https://chat.whatsapp.com/EkpVYSgMfbyLPLyf7pdMDt" class="btn btn-sm btn-outline-secondary">Whatsapp Group</a>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'commons/messages.html' %}
    <div class="row">
         <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Balance</p>
                <p class="fs-30 mb-4">{{balance}}</p>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Refferals</p>
                <p class="fs-30 mb-4">{% if commission %}{{commission}}{% else %} 0.00 {% endif %}</p>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4">Investments</p>
                <p class="fs-30 mb-4">{% if investment %}{{investment}}{% else %} 0.00 {% endif %}</p>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4">Withdraws</p>
                <p class="fs-30 mb-4">{% if withdraw %}{{withdraw}}{% else %} 0.00 {% endif %}</p>
                <p> </p>
              </div>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-3 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Tigo</h4>
            <p class="card-description">Njia Ya Malipo</p>
            <ul class="list-star">
              <li>*150*01#</li>
              <li>Chagua Lipa Kwa Simu</li>
              <li>Chagua Kwenda Tigo Pesa</li>
              <li>Namba 7611318 jina GOLD INVESTMENTS</li>
              <li>Ingiza kiasi Tsh 12,000 For activation na kuendela</li>
              <li>Password ya mtumiaji</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Vodacom</h4>
            <p class="card-description">Njia Ya Malipo</p>
            <ul class="list-star">
              <li>*150*00#</li>
              <li>Chagua Tuma Pesa</li>
              <li>Chagua Mitandao Mingine</li>
              <li>Chagua Tigo Pesa</li>
              <li>Namba 7611318 jina GOLD INVESTMENTS</li>
              <li>Ingiza kiasi Tsh 12,000 For activation na kuendela</li>
              <li>Password ya mtumiaji</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Airtel</h4>
            <p class="card-description">Njia Ya Malipo</p>
            <ul class="list-star">
              <li>*150*60#</li>
              <li>Chagua Tuma</li>
              <li>Chagua Mitandao Mingine</li>
              <li>Chagua Tigo Pesa</li>
              <li>Chagua Lipa Kwa Tigo Pesa</li>
              <li>Namba 7611318 jina GOLD INVESTMENTS</li>
              <li>Ingiza kiasi Tsh 12,000 For activation na kuendela</li>
              <li>Password ya mtumiaji</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin grid-margin-md-0 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Halotel</h4>
            <p class="card-description">Njia Ya Malipo</p>
            <ul class="list-star">
              <li>*150*88#</li>
              <li>Chagua Lipia Bidhaa</li>
              <li>Chagua Lipa Kwa Tigo Pesa</li>
              <li>Namba 7611318 jina GOLD INVESTMENTS</li>
              <li>Ingiza kiasi Tsh 12,000 For activation na kuendela</li>
              <li>Password ya mtumiaji</li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  <!-- content-wrapper ends -->
</div>

{% endblock %}
{% block footer %}{% endblock %}