{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}
    {% include 'commons/sidebar.html' %}
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Welcome, {{user.get_name}}</h3>
                <h6 class="font-weight-normal mb-0">All systems are running smoothly! </h6>
              </div>
              <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                  
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'commons/messages.html' %}
        <div class="row">
          <div class="col-md-3 mb-4 stretch-card transparent">
             <div class="card card-tale">
               <div class="card-body">
                 <p class="mb-4">No. of Products</p>
                 <p class="fs-30 mb-4">{% if products %}{{products}}{% else %} 0 {% endif %}</p>
                 <p> </p>
               </div>
             </div>
           </div>
           <div class="col-md-3 mb-4 stretch-card transparent">
             <div class="card card-dark-blue">
               <div class="card-body">
                 <p class="mb-4">No. of Clients</p>
                 <p class="fs-30 mb-4">{% if clients %}{{clients}}{% else %} 0 {% endif %}</p>
                 <p> </p>
               </div>
             </div>
           </div>
           <div class="col-md-3 mb-4 stretch-card transparent">
             <div class="card card-light-blue">
               <div class="card-body">
                 <p class="mb-4">No. of Shops</p>
                 <p class="fs-30 mb-4">{% if shops %}{{shops}}{% else %} 0 {% endif %}</p>
                 <p> </p>
               </div>
             </div>
           </div>
           <div class="col-md-3 mb-4 stretch-card transparent">
             <div class="card card-light-danger">
               <div class="card-body">
                 <p class="mb-4">Total Sales</p>
                 <p class="fs-30 mb-4">{% if withdraw %}{{withdraw}}{% else %} 0.00 {% endif %}</p>
                 <p> </p>
               </div>
             </div>
           </div>
        </div>
        
    </div>
{% endblock %}
{% block footer %}{% endblock %}