{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
{% load static %}
{% if user.staff %}
{% include 'commons/sidebar.html' %}
{% else %}
{% include 'commons/sidebar_shop.html' %}
{% endif %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">{{vendor}}</h3>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              {% if not user.staff %}
                <a href="{% url 'product:user_create' vendor.slug %}" class="btn btn-sm btn-outline-secondary">Add Product</a>
              {% endif %}
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'commons/messages.html' %}
    <div class="row">
         <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Revenue</p>
                <p class="fs-30 mb-4">0.00</p>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Products</p>
                <p class="fs-30 mb-4">{% if product %}{{product}}{% else %} 0 {% endif %}</p>
                <p> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4">Orders</p>
                <p class="fs-30 mb-4">{% if orders %}{{orders}}{% else %} 0 {% endif %}</p>
                <p> </p>
              </div>
            </div>
          </div>
    </div>
    {% if user.staff %}
     <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Personal Details</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{vendor}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{vendor.gender}}</td>
                  </tr>
                  <tr>
                    <td>Age</td>
                    <td>{{vendor.dob|timesince}}</td>
                  </tr>
                  <tr>
                    <td>Citizenship</td>
                    <td>{{vendor.citizenship}}</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>{{vendor.location}}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{vendor.phone}}</td>
                  </tr>
                  <tr>
                    <td>Business Contact</td>
                    <td>{{shop.contacts}}</td>
                  </tr>
                  <tr>
                    <td>Active</td>
                    <td>{{vendor.account.is_active}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Shop Details</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Business Name</td>
                    <td>{{shop.name}}</td>
                  </tr>
                  <tr>
                    <td>Business Category</td>
                    <td>{{shop.category}}</td>
                  </tr>
                  <tr>
                    <td>Business Number</td>
                    <td>{{shop.tin_number}}</td>
                  </tr>
                  <tr>
                    <td>Business Region</td>
                    <td>{{shop.region}}</td>
                  </tr>
                  <tr>
                    <td>Business District</td>
                    <td>{{shop.district}}</td>
                  </tr>
                  <tr>
                    <td>Opening Time</td>
                    <td>{{shop.opening}}</td>
                  </tr>
                  <tr>
                    <td>Closing Time</td>
                    <td>{{shop.closing}}</td>
                  </tr>
                  {% if user.staff %}
                  <tr>
                    <td>Actions</td>
                    <td>
                      <div class="btn-group mr-2">
                        <a href="{% url 'account:admin_activate' vendor.account.uid %}" class="btn btn-sm btn-outline-secondary">Accept</a>
                        <a href="{% url 'shop:reject' vendor.slug %}" class="btn btn-sm btn-outline-secondary">Reject</a>
                        <a href="{% url 'shop:inquire' vendor.slug %}" class="btn btn-sm btn-outline-secondary">Inqury</a>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% else %}
    {% endif %}
    
  
  <!-- content-wrapper ends -->
</div>

{% endblock %}
{% block footer %}{% endblock %}