{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}
{% if user.staff %}
{% include 'commons/sidebar.html' %}
{% else %}
{% include 'commons/sidebar_clnt.html' %}
{% endif %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome, {{client}}</h3>
            <h6 class="font-weight-normal mb-0">All systems are running smoothly! </h6>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'commons/messages.html' %}
    <div class="row">
      <div class="col-md-3 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Balance</p>
            <p class="fs-30 mb-4">{{billing.amount}}</p>
            <p> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Limit</p>
            <p class="fs-30 mb-4">{{billing.expected}}</p>
            <p> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 stretch-card transparent">
        <div class="card card-light-blue">
          <div class="card-body">
            <p class="mb-4">No. Of Orders</p>
            <p class="fs-30 mb-4">{{orders}}</p>
            <p> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">No. Of Transactions</p>
            <p class="fs-30 mb-4">{{charges}}</p>
            <p> </p>
          </div>
        </div>
      </div>
    </div>
    {% if user.staff %}
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Personal Details</h4>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{client}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{client.gender}}</td>
                  </tr>
                  <tr>
                    <td>Age</td>
                    <td>{{client.dob|timesince}}</td>
                  </tr>
                  <tr>
                    <td>Citizenship</td>
                    <td>{{client.citizenship}}</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>{{client.location}}</td>
                  </tr>
                  <tr>
                    <td>Martial Status</td>
                    <td>{{client.martial}}</td>
                  </tr>
                  <tr>
                    <td>Identification</td>
                    <td>{{client.identification}}</td>
                  </tr>
                  <tr>
                    <td>ID Number</td>
                    <td>{{client.id_number}}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{client.phone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Other Information</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td>Source Of Income</td>
                    <td>{{finance.source}}</td>
                  </tr>
                  <tr>
                    <td>Employer/Business Name</td>
                    <td>{{finance.employer}}</td>
                  </tr>
                  <tr>
                    <td>Employer/Business Location</td>
                    <td>{{finance.branch}}</td>
                  </tr>
                  <tr>
                    <td>Employer/Business Referee</td>
                    <td>{{finance.referee}}</td>
                  </tr>
                  <tr>
                    <td>Employment/Business Duration</td>
                    <td>{{finance.duration}}</td>
                  </tr>
                  <tr>
                    <td>Monthly Income</td>
                    <td>{{finance.range}}</td>
                  </tr>
                  <tr>
                    <td>Number Of Dependants</td>
                    <td>{{finance.dependants}}</td>
                  </tr>
                  <tr>
                    <td>Active</td>
                    <td>{{client.account.is_active}}</td>
                  </tr>
                  {% if user.staff %}
                  <tr>
                    <td>Actions</td>
                    <td>
                      <div class="btn-group mr-2">
                        <a href="{% url 'account:admin_activate' client.account.uid %}" class="btn btn-sm btn-outline-secondary">Accept</a>
                        <a href="{% url 'client:reject' client.slug %}" class="btn btn-sm btn-outline-secondary">Reject</a>
                        <a href="{% url 'client:inquire' client.slug %}" class="btn btn-sm btn-outline-secondary">Inqury</a>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>  
    {% else %}
    {% endif %}
    
  <!-- content-wrapper ends -->
</div>

{% endblock %}
{% block footer %}{% endblock %}