{% extends "front.html" %}
{% block title %}Policies{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid bg-light">
  <div class="row h-25">
    <div class="text-left col-12 my-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 p-5">
            <h1 class="display-4 primary">Client Terms And Conditions</h1>
            <p class="lead">All the things you need to know before creating an account in our system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container-fluid h-75">
  <div class="row">
    <div class="text-left col-12 my-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 p-5">
            <div class="container">
              <p class="lead">This Post Paid Operating Agreement (“Operating Agreement”) contains the terms 
                and conditions that govern your participation in the Post payment Program (the “Program”). “We,” 
                “us,” or “our” means Pps.com and Applicant Website. “You” or “your” means the applicant. 
                A “site” means a website.</p>
              <p class="lead">BY CHECKING THE BOX INDICATING THAT YOU AGREE TO THE TERMS AND CONDITIONS OF THIS 
                OPERATING AGREEMENT, OR BY CONTINUING TO PARTICIPATE IN THE PROGRAM FOLLOWING OUR POSTING OF A 
                CHANGE NOTICE, REVISED OPERATING AGREEMENT, OR REVISED OPERATIONAL DOCUMENTATION ON THE PARTNER 
                WEBSITE, YOU (A) AGREE TO BE BOUND BY THIS OPERATING AGREEMENT; (B) ACKNOWLEDGE AND AGREE THAT 
                YOU HAVE INDEPENDENTLY EVALUATED THE DESIRABILITY OF PARTICIPATING IN THE PROGRAM AND ARE NOT 
                RELYING ON ANY REPRESENTATION, GUARANTEE, OR STATEMENT OTHER THAN AS EXPRESSLY SET FORTH IN THIS 
                OPERATING AGREEMENT; AND (C) HEREBY REPRESENT AND WARRANT THAT YOU ARE LAWFULLY ABLE TO ENTER 
                INTO CONTRACTS (E.G., YOU ARE NOT A MINOR) AND THAT YOU ARE AND WILL REMAIN IN COMPLIANCE WITH 
                THIS OPERATING AGREEMENT. IN ADDITION, IF THIS OPERATING AGREEMENT IS BEING AGREED TO BY A COMPANY 
                OR OTHER LEGAL ENTITY, THEN THE PERSON AGREEING TO THIS OPERATING AGREEMENT ON BEHALF OF THAT COMPANY 
                OR ENTITY HEREBY REPRESENTS AND WARRANTS THAT HE OR SHE IS AUTHORIZED AND LAWFULLY ABLE TO BIND THAT 
                COMPANY OR ENTITY TO THIS OPERATING AGREEMENT.</p>
                <p class="lead">Post Payment System, the system to connect shopkeeper and customer. We’re dedicating to 
                  give very best of services with a focus to uniqueness and dependability. We at Post Payment believe that 
                  Credit is not applicable to every purchase, merchandise category, or customer. The best way to offer credit 
                  is to find a way that works for your unique business needs and mostly credit sales made are recorded on 
                  books of debts and have no specific time for payment where by customers leave no assurance for future payment. 
                  Due to this fact the shopkeeper holds no collateral that he/she can then liquefy in the absence of payment for 
                  goods sold on credit to customers. </p>
                <p class="lead">So, we Post Payment come up with a solution that will help customers with constant income flow 
                  to get services from wherever the service providers are in credit where we will support by being guarantor for 
                  the credit purchasing.</p>
                <p class="lead">By participating in the Program, you agree that you will comply with the Post payment Program 
                  Participation Requirements and all pages, schedules, policies, guidelines, and other documents and materials 
                  referenced in this Operating Agreement (collectively, “Operational Documentation”).</p>
                <p class="lead">You will provide us with any information that we request to verify your compliance with this 
                  Operating Agreement or any Operational Documentation. If we determine that you have not complied with any 
                  requirement or restriction described on the Applicant Program Participation Requirements page or any other 
                  Operational Documentation or that you have otherwise violated this Operating Agreement, we may (in addition 
                  to any other rights or remedies available to us): (a) close any other accounts you may have or may open in 
                  the future (b) terminate this Operating Agreement, ; or (c) undertake all of the above actions.</p>
                <p class="lead">The term of this Operating Agreement will begin upon our acceptance of your Program application 
                  and will end when terminated by either you or us. Either you or we may terminate this Operating Agreement at 
                  any time, with or without cause, by giving the other party written notice of termination. Upon any termination 
                  of this Operating Agreement, any and all licenses you have with respect to Content will automatically terminate 
                  and you will immediately stop using the Content and Post Paid account and promptly remove from your site and 
                  delete. No termination of this Operating Agreement will relieve either party for any liability for any breach 
                  of, or liability accruing under, this Operating Agreement prior to termination.</p>
                <p class="lead">We may modify any of the terms and conditions contained in this Operating Agreement (and any 
                  Operational Documentation) at any time and in our sole discretion by posting a change notice, revised agreement, 
                  or revised Operational Documentation on the Applicant Site or by sending notice of such modification to you by 
                  email to the email address then-currently associated with your Pps account (any such change by email will be 
                  effective on the date specified in such email and will in no event be less than two business days after the date 
                  the email is sent). Modifications may include, for example, changes to the payment procedures, and other Program 
                  requirements. IF ANY MODIFICATION IS UNACCEPTABLE TO YOU, YOUR ONLY RECOURSE IS TO TERMINATE THIS OPERATING AGREEMENT. 
                  YOUR CONTINUED PARTICIPATION IN THE PROGRAM FOLLOWING THE EFFECTIVE DATE OF ANY MODIFICATION (E.G., THE DATE OF 
                  OUR POSTING OF A CHANGE NOTICE, REVISED OPERATING AGREEMENT, OR REVISED OPERATIONAL DOCUMENTATION ON THE PARTNER 
                  SITE OR THE DATE SPECIFIED IN ANY EMAIL TO YOU REGARDING SUCH MODIFICATION) WILL CONSTITUTE YOUR BINDING ACCEPTANCE 
                  OF THE CHANGE.</p> 
                <div class="col-11 pt-3"> 
                  <a href="{% url 'client:create' %}" class="btn btn-md btn-primary btn-block">I agree to all Terms & Conditions</a> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}