  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{user.get_absolute_url}}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'base:home' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'order:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'billing:charges' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Transcactions</span>
        </a>
      </li>
    </ul>
  </nav>