  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{{user.get_absolute_url}}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manager:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Admins</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'client:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Clients</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'shop:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Vendors</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'order:list' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'billing:charges' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Transactions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'billing:billing' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Accounts</span>
        </a>
      </li>
    </ul>
  </nav>